{{!-- CREATES THE SECTION THAT MAKES THE POSTS --}}
<form class="form save-post" data-id="{{id}}">
  <div class="form-group">
    <label for="postTitle">Title:</label>
    <input class="form-input" type="text" id="postTitle" value="{{postTitle}}" name="postTitle" />
  </div>
  <div class="form-group">
    <label for="content">Message:</label>
    <textarea class="form-input" id="content" name="content">{{content}}</textarea>
  </div>
  <div class="form-group">
    <button type="submit" class="btn btn-primary">Update</button>
  </div>
</form>
<script src="/js/edit.js"></script>